<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Avance 2 - Front End</title>
</head>

<body>
    <!-- Header menu  -->
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Blog <b>Ruby</b></h1>
            </div>
            
            <div class="menu">
                <nav>
                    <ul>
                        <li class="menu-selected"><a class= "text-menu-selected" href="#">Inicio</a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- portada -->
    <div class="container-all" id="move-content">

    
        <div class="container-cover">
            <div class="container-info-cover">
                <h1>¡Con la lectura Todo es posible!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis assumenda.</p>
            </div>
        </div>
    <!-- articulo -->
    <h2 class="logo">Posts</h2>
    <div id="app" class="container-content" >
        <div class="article--container" v-for="item in posts" >
            <p>---------------------------------</p>
            <p>Id: {{item.id}}</p>
            <p>Autor: {{item.author.name}}</p>
            <p>Email: {{item.author.email}}</p>
            <p>Titulo: {{item.title}}</p>
            <p>Contenido: {{item.content}}</p>
            <p>---------------------------------</p>
        </div>


        <div id="app" class="logo">
            <h2>Editar Post</h2>
            <span>Id: </span>
            <input id="id" type="text" v-model="id">
            <span>Titulo: </span>
            <input id="titulo" type="text" v-model="actualizar_titulo">
            <span>Content: </span>
            <input id="content" type="text" v-model="actualizar_content">
            <button @click="actualizar_post" >ACTUALIZAR POST</button>
            
        </div>
        <div id="app" class="logo">
            <h2>Crear Post</h2>
            <span>Titulo: </span>
            <input id="titulo" type="text" v-model="crear_titulo">
            <span>Content: </span>
            <input id="content" type="text" v-model="crear_content">
            <button @click="crear_post" >CREAR POST</button>
        </div>
    </div>

    


    <div class="container-footer">	

        <footer>
            <div class="logo-footer">
                <img src="" alt="">
            </div>

            <div class="redes-footer">
                <a href="#"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-google-plus-g icon-redes-footer"></i></a>
                <a href="#"><i class="fab fa-instagram icon-redes-footer"></i></a>
            </div>

            <hr>
            <h4>© 2021 OHLC - Todos los Derechos Reservados</h4>

        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>